html {
  background-color: rgb(204, 204, 204);
}

body {
  max-width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 200px 0;
  background-color: white;
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}
.spinner div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: purple;
  border-radius: 50%;
  animation: spin 1.4s infinite;
  animation-timing-function: linear;
}
.spinner div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: purple;
  border-radius: 50%;
  animation: spin 1.4s infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}